{{#*inline "folderPartial"}}
<li class="directory-item folder flexcol {{#unless folder.expanded}}collapsed{{/unless}}"
    data-folder-id="{{folder._id}}" data-folder-depth="{{folder.depth}}">
  <header class="folder-header flexrow" style="background-color: {{folder.data.color}}">
    <h3><i class="fas fa-folder-open fa-fw"></i>{{folder.name}}</h3>
    {{#if user.isGM}}
      <a class="create-folder" data-parent-folder="{{folder._id}}"><i class="fas fa-folder-plus fa-fw"></i></a>
      <a class="create-entity" data-folder="{{folder._id}}"><i class="fas fa-user-plus fa-fw"></i></a>
    {{/if}}
  </header>

  <ol class="subdirectory">
    {{~#each folder.children as |child i|}}
      {{> folderPartial folder=child user=../user}}
    {{/each}}
    {{#each folder.content}}
      {{> entityPartial}}
    {{/each~}}
  </ol>
</li>
{{/inline}}

{{#*inline "entityPartial"}}
<li class="directory-item entity location flexrow" data-entity-id="{{this._id}}">
  <img class="profile location-profile" title="{{this.name}}" data-src="{{this.img}}"/>
  <h4 class="entity-name"><a>{{this.name}}</a></h4>
</li>
{{/inline}}

<section class="sidebar-tab sidebar-directory tab flexcol" id="locations" data-tab="locations">

  <!-- Directory Header -->
  <header class="directory-header flexrow">
    <div class="header-search">
      <i class="fas fa-search"></i>
      <input type="text" name="search" value="{{search}}" placeholder="{{localize 'LOCATION.Search'}}"
             autocomplete="off"/>
    </div>
    <a class="header-control collapse-all" title="{{localize 'FOLDER.Collapse'}}"><i
        class="fas fa-sort-amount-up fa-fw"></i></a>
  </header>

  <!-- Directories List -->
  <ol class="directory-list">
    {{~#each tree.children as |f fi|}}
      {{> folderPartial folder=f user=../user}}
    {{/each}}
    {{#each tree.content}}
      {{> entityPartial}}
    {{/each~}}
  </ol>

  <!-- Directory Footer -->
  {{#if canCreate}}
  <footer class="directory-footer">
    <button class="create-entity"><i class="fas fa-landmark"></i> {{localize 'LOCATION.Create'}}</button>
    {{#if user.isGM }}
    <button class="create-folder"><i class="fas fa-folder"></i> {{localize 'FOLDER.Create'}}</button>
    {{/if}}
  </footer>
  {{/if}}
</section>
